@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------colours*/
.bg-color-name-title {
    background-color: #517d8f;
    color: #fff;
}

.profile {
    background: #05a55a;
    color: #fff;
}

.ui-menu-color-home {
background: #517d8f;
color: #fff
}

.ui-menu-color-project {
background: #23b0e7; 
color: #fff
}

.ui-menu-color-history {
background:#8edfff;
color: #fff
}

.ui-menu-color-skills {
background:#05a55a;
color: #fff;
}

.ui-menu-color-resume {
background:#97c4bd;
color: #fff;
}

.ui-menu-color-contact {
background: #88b2c4;
color: #fff;
}

/*----------------------------------Navbar*/

.menuitem {
    height: 25px;
    text-decoration: center;
    padding: 0;
}

.menuitem span {
    display: inline;
    text-align: center;
    letter-spacing: 1px;
}


/*----------------------------------heading*/
header {
    margin: 0;
}

.heading {
    margin-left: 35px;
}


/*---------------------------------------image*/

.image {
    background: url("../images/pexels-skitterphoto-705164.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/*-----------------------------------------name-title-profile------*/

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 16px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 100px;
    font-size: 28px;
    color: #fff;
}

.profile {
    font-family: "Roboto", sans-serif;
    font-weight: 100px;
    font-size: 14px;
    padding-left: 10px;
    text-align: justify;
    padding: 3px;
    color: #fff;
}

/*---------------------------------footer----------*/
.general-sub {
    background-color: #97c4bd;
    color: #fff;
    min-height: 40px;
    margin: 0;


.inline-block {
    display: inline-block;
}
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-size: 1.1rem;
}



