@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*--------------------------------------colours*/
.bg-color-name-title {
    background-color:  #05A55A;
    color: #fff;
}

.bg-color-contact {
background-color: #fff;
color: #426979;

}

.bg-color-name-history {
background:#8edfff;
}

.profile {
    background: #517d8f;
    color: #fff;
}

.ui-menu-color-home {
background: #517d8f;
color: #fff
}

.ui-menu-color-history {
background:#8edfff;
color: #fff
}

.ui-menu-color-resume {
background:#97c4bd;
color: #fff;
}

.ui-menu-color-contact {
background: #88b2c4;
color: #fff;
}

/*----------------------------------Navbar*/

.menuitem {
    height: 25px;
    padding: 0;
}

.menuitem span {
    display: inline;
    text-align: center;
    letter-spacing: 1px;
}

.navbar {
    flex-wrap: wrap;
    padding-top: 0;
    padding-right: 0;
    height: 40px; 
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.0rem;
    line-height: 2;
    background-color: transparent;
    padding-top: 0;
    border-radius: .25rem;
}

.col-md-12 {
    padding-right: 7px;
}

/*---------------------------------special paddings/margins/text*/
h1,h2,h3,h4 {
    margin: 0;
}



/*----------------------------------heading*/
header {
    margin: 0;
}

.heading {
    margin-left: 23px;
}

/*---------------------------------------image*/

.image {
    background: url("../images/pexels-skitterphoto-705164.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 420px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/*-----------------------------------------name-title-profile------*/

.name {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 40px;
    padding-top: 5px;
    margin-bottom: 10px;   
    padding-top: 5px;
    color: #fff;
}


.title {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding-top: 3px;
    margin-left: 30px;
    margin-bottom: 5px;
    color: #fff;
}

.profile {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 13px;  
    padding-bottom: 3px;
    padding-top: 10px;
    padding-left: 18px;
    padding-right: 18px;
    color: #fff;
}


.inline-block {
    display: inline-block;
}
.bg-color-name-title {
    height: 100px;

}
.bg-color-name-profile {
height: 130px;
}


/*-------------------------------------Skills/progress bar --------*/
.skills-heading {
    font-family: "Exo", sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-top: 65px;
    color: #426979;
    position: static;

}

/*---------------------------------progress bars---------------*/
.progress {
    position: relative;
    height: 20px;
    margin-bottom: 3px; 

}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 500;
    padding: 12px 30px 12px 10px;
    color: #fff;
    background-color: rgba(25, 25, 25, 0.2);
  
}

.progress-section {
padding-left: 20px;
padding-right: 20px;
padding-bottom: 15px;
width: 98%;

}

/*--------------------------------- End of progress bars---------------*/

/*-------------------------------About Skills-----------------------------*/

.dev-skills {
font-family: "Roboto", sans-serif;
font-weight: 100;
font-size: 12px;
height: 180px;
text-align: justify;
margin-bottom: 50px;
padding-bottom: 18px;
padding-top: 18px;
padding-left: 20px;
padding-right: 20px;
background-color: #517d8f;
text-transform: uppercase;
overflow-wrap: break-word;
color: #fff;
}

.dev-skills-cl {
padding-left: 20px;
padding-right: 20px;
padding-bottom: 30px;
padding-top: 0px;
width: 98%;
}


/*-----------------History HEading---------*/  
.color-name-history {
       height: 40px;
      color: #fff;
      
   }

/*--------- History -Timeline--------*/
h1 {
    font-family: "Exo", sans-serif;
     font-size: 35px;    
    font-weight: 600;
    font-size: 25px;
   text-align: center;
   margin: 0 auto;
    color: #426979;
   
}

  h3 {
    font-family: "Roboto", sans-serif;
    max-width: 40em;
    padding-top: 15px;
    font-size: 15px;
    text-align: left;
    margin-left: 50px;
    clear: both;
    position: center;
      }
  
  
  h6 {
    font-family: "Roboto", sans-serif;
    margin-bottom: 5px;
    font-size: 12px;
    position: center;
    padding-left: 0px;
    margin-left: 50px;
   
  }
  
.timeline {
    width: 400px;
    margin-left: 40px;
}
  
@media screen and (min-width: 392px) {
  .hist-container {
    max-width: 50%;
    margin: 0 auto;
    padding-left: 50px;
    background-color: #97c4bd;
    
  }
}
  
/*------------ End of  history Timeline-------*/


/*-------------------------------------Contact Form--------*/
.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 600;
    font-size: 25px;
   
    margin-top: 60px;
    margin-bottom: 30px;
    position: static;

}

.contact-heading-cnt {
    font-family: "Exo", sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-top: 55px;
    margin-bottom: 50px;
    position: static;
 padding-top: 70px;
 height: 200px;

}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 20px;
    margin-bottom: 60px;
    color: #fff;
    background-color: #05a55a;

}
@media(min-width: 992px) {
    .center-form {
        padding-top: 10px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;

    }
}
/*-------------------------------------End of Contact Form--------*/

/*---------------------------------footer----------*/

footer {
    background-color: #8edfff;
    color: #fff;
    height: 50px;
    margin: 0;  
    text-align: center;
    
}

.inline-block {
    display: inline-block;
}

.info i {
font-size: 15px;
color: #fff;
text-align: center;
padding-top: 5px;
padding-left: 40px;
transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
}

.info i:hover {
    color: #05a55a;

}

.cv-pdf i {
font-size: 15px;
color: #fff;
text-align: center;
padding-top: 20px;
padding-left: 100px;
transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #05a55a;
}
  
.social-link {
padding-right: 30px;
}

.social-link li a i {
    width: 15px;
    height: 15px;    
    padding-top: 10px;
    padding-left: 100px;
    line-height: 12px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out; 
}

.social-link li a i:hover {
   color: #05a55a;
}

#footer-details {
    padding: 10px;
}


.general-sub i:hover{
    color: #05a55a;

}

.general-sub {
    width: 40px;
}

p.text-uppercase {
    margin-left: auto;
    margin-right: 30px;
    width: fit-content;
   
}

.footer-det {
    height: 50px;
}

/*---------------------------------------End of footer----------*/



